<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
       http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task-3.1.xsd"> <!-- oder 3.1-->

    <!-- Aktiviert, dass Annotationen an Klassen erkannt werden -->
    <context:annotation-config />
    <contect:csdcdscjcnd>
    
    <!-- Aktiviert das Tasl-Management von Spring -->
    <task:annotation-driven />
    <!-- Durchsucht den classpath nach Komponenten mit Annotationen. Diese werden dann automatisch von Sping als Bean registriert.
    Beispiel sind @Controller und @Server -->
    <context:component-scan base-package="de.tafelstellwerk" />

    <!-- Konfiguriert das Sping MVC Controller Model.
    Note that, with Spring 3.0, this tag works in Servlet MVC only! -->
    <mvc:annotation-driven />    
    <!-- Gibt diese statischen Inhalt für den direkten Zugriff auf dem Server frei -->
    <mvc:resources mapping="/css/**" location="/WEB-INF/css/"/>
    <mvc:resources mapping="/img/**" location="/WEB-INF/img/"/>
    <mvc:resources mapping="/js/**" location="/WEB-INF/js/"/>
    <mvc:resources mapping="/fonts/**" location="/WEB-INF/fonts/"/>
    <mvc:resources mapping="/favicon.ico" location="/WEB-INF/img/favicon.ico"/>
        
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> 
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/tafelstellwerk" />
        <property name="username" value="root" /><!--test_user -->
        <property name="password" value="" /><!--test_passwort-->
    </bean>
    
    <bean id="messageSource"
          class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="/WEB-INF/messages" />
    </bean>

    <bean class="de.tafelstellwerk.Controller.NSAController" />   
    


    
</beans>
