@import "compass";
@import "colors";
@import "functions";
@font-face {
	font-family: 'Tafelstellwerk-Icon-Font';
	src:url('../fonts/Tafelstellwerk-Icon-Font.eot');
	src:url('../fonts/Tafelstellwerk-Icon-Font.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Tafelstellwerk-Icon-Font.woff') format('woff'),
		url('../fonts/Tafelstellwerk-Icon-Font.ttf') format('truetype'),
		url('../fonts/Tafelstellwerk-Icon-Font.svg#Tafelstellwerk-Icon-Font') format('svg');
	font-weight: normal;
	font-style: normal;
}
* {
	margin:0;
	padding:0;
} 
html, body {
	background-color: $gray;
	min-height:100%;
}
body, input, textarea, select {
	font-size:100%;
	font-family:Arial, Helvetica, sans-serif;
	line-height:1.2;
}
body {
	overflow-y:scroll;
}
#page-wrap {
	width:em(980);
	margin:0 auto;
	height:100%;
}