$gray: #D9D9D9;
$white: #ffffff;
$orange: #f4811e;
$lighterorange: lighten($orange,40%);
$brown: #743e0e;
$green: #37F640;
$lightergreen: lighten($green,40%);
$darkergreen: darken($green,20%);
$red: #fa3910;
$lighterred: lighten($red,40%);
$blue: #008aa7;
$darkergray: darken($gray,20%);
$yellow: #f1c40f;