ul.table {
	display:table;
	width:em(935);
	li {
		display:table-cell;
		width:50%;
		li {
			display:block;
			width:auto;
		}
	}
}
.list {
	ul ul {
		margin:0 em(15);
		&.table {
			margin:0 em(15) em(15);
			width:100%;
			p {
				margin-right:em(15);
			}
			dl {
				margin:0 0 em(15);
			}
		}
	}
	dt, dd, #map {
		padding:em(2) 0;
	}
	dt {
		float:left;
		clear:left;
		margin:0 2% 0 0;
		width:40%;
		min-height: em(20);
	}
	dd {
		margin:0 0 0 42%;
		min-height: em(20);
		padding-right:em(15);
	}
	.buttons {
		margin:0 0 0 em(15);
		padding:0 0 em(20);
		.button {
			float:right;
			&:first-child {
				margin:0;
			}
		}
	}
}
#map {
	height:em(200);
	margin:0 em(15) em(30) 0;
	border-bottom:1px solid $orange;
	background:url('../img/marker-active.png') 50% 50% no-repeat;
}
.list-with-map {
	> li {
		float:left;
		clear:none;
		display: block;
		width: em(465);
	}
	#map {
		margin:0 0 em(30);
	}
}